.about {
  flex: 1;
  .banner-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .banner {
      border-radius: 1em;
      width: 300px;
      height: 450px;
      transition: all 0.25s ease;
      &:hover {
        filter: brightness(1.1);
      }
      img {
        display: inline-block;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .banner-info {
        padding: 2em 0.5em;
        .title {
          color: #fa7268;
          text-transform: uppercase;
          font-size: 1.2em;
          text-align: center;
          margin-bottom: 1em;
        }
        .desc {
          color: lightgray;
          line-height: 1.25;
          font-weight: 300;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
