body.loading {
  overflow: hidden;
  height: 100vh;
  background-color: #001221;
}

.loader {
  .loader-inner {
    .image-block {
      position: absolute;
      transform-origin: center;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      &.loadingImg1 {
        width: 30%;
        left: 16%;
        bottom: 14%;
      }

      &.loadingImg2 {
        width: 20%;
        left: 14%;
        top: 12%;
      }

      &.loadingImg4 {
        width: 30%;
        right: 14%;
        top: 12%;
      }
      &.loadingImg5 {
        width: 20%;
        right: 14%;
        bottom: 12%;
      }

      img {
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
